@use './vars' as *;
@use 'sass:color';

@mixin link($color: $piccolo, $hoverColor: color.mix($piccolo, $heles, $method: srgb)) {
  color: $color;
  transition: color 200ms ease;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin hover($elementColor) {
  &:hover {
    background-color: color.adjust($elementColor, $lightness: -4%);
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: 600;
}

@mixin h2 {
  font-size: 24px;
  font-weight: 600;
}
